.inbox {
  flex:1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.inbox-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.inbox-list > .filter {
  background-color: #FFF;
  padding: 1rem;
  min-height: 6rem;
}

.inbox-list > .filter > .select {
  max-width: 6rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.inbox-list .fab {
  position: absolute;
  bottom: 4rem;
}

.inbox-viewer {
  flex:1;
  display:flex;
}

.page .inbox > .viewer {
  padding: 0.8rem;
  flex:1;
  overflow-y: auto;
}

@media (max-width: 959px) {

  .inbox-list {
    display: none;
  }

  .inbox-list.open {
    display:flex;
  }

  .inbox-viewer {
    display: none;
  }

  .inbox-viewer.open {
    display:flex;
  }

}

@media (min-width: 960px) and (max-width:1279px) and (orientation: landscape) {
  .inbox-list .fab {
    left: 58rem;
  }
}
@media (min-width: 1280px) {
  .inbox-list .fab {
    left: 52rem;
  }
}
