.page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page > header {
  min-height: 5.6rem;
  max-height: 5.6rem;
  padding: 0.4rem 1.6rem 0.4rem 1.6rem;
  display: flex;
  align-items: center;;

  z-index: 1;

}

.page > header #header-icon {
  display: none;
}

.page > main {
  flex:1;
  background-color: rgba(255, 255, 255, 0.6);
  display:flex;
  flex-direction: column;
  overflow: hidden;
}

.page .scrollpane {
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}



@media (max-width: 960px) {

  .inbox-list .fab {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
  }

  .inbox-list.selected .fab {
    display: none;
  }

  .inbox-list.selected > .tabbar {
    display:none;
  }

  .inbox-list.selected > .list > .textfield {
    display:none;
  }

  .inbox-list.selected .listitem.unselected {
    display: none;
  }

  .inbox-list.selected {
    min-height: 12.5rem;
    margin-bottom: 1rem;
  }

}

@media (min-width: 960px) and (orientation: landscape) {

  .page > header {
    position: fixed;
    z-index: 2000;
    width: 100%;
    left:0px;
  }

  .page > main {
    z-index: 1999;
    margin-top: 5.6rem;
    box-shadow: -1px 3px 2px 1px rgba(0,0,0,0.3);
    padding-left:0px;
    padding-top: 0px;
  }

  .page .inbox {
    flex-direction: row;
  }

  .page .inbox > .inbox-list{
    max-width: 40rem;
    box-shadow: 2px -3px 2px 1px rgba(0,0,0,0.3);
    z-index: 500;
  }

  .page .inbox > .viewer {
    padding: 10px;
  }

}


@media (min-width: 1280px) {

  .page > header {
    position: relative;
    z-index: auto;
  }

  .page > header #drawer-button {
    display:none;
  }

  .page > header #header-icon {
    display: flex;
  }

  .page > main {
    margin-top: 0px;
    z-index: auto;
  }

  .page .inbox > .inbox-list{
    z-index: auto;
  }

}
