.cinema {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.screen-box {
  min-width: 30rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  overflow: auto;
}

.screen {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  max-height: 60rem;
}

.screen > .image {
  width:100%;
  min-height: 18rem;
  flex:1;
}

.cinema-info{
  flex: 1;
  padding: 1rem;
  max-height: 10rem;
  width:100%;
  padding: 0 1rem;
}

.cinema-info > p {
  padding: 2rem;
  background-color: #FFF;
  font-size: 1.45rem;
}
