.dossier {
  flex:1;
  display: flex;
  flex-direction: column;
}

.dossier header {
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  background-color : #1B1B1B;
}

.dossier header > h1 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.dossier header > h2 {
  margin-top: 0;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.dossier main {
  flex:1;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.dossier main > * {
  max-width: 90rem;
}

.checklist {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.checklist > .line {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  min-width: 50rem;
  align-self: center;
}

.checklist > .line > button, span {
  min-width: 10rem;
}

.shopwindow {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.shopwindow .fab {
  position: absolute;
  bottom: 12rem;
  right: 4rem;
}

.report {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.report .observations {
  flex:1
}

.report textarea {
  min-height: 20rem;
}

.line > label {
  flex:1.5;
}

.line > .field {
  min-width: 10rem;
}

.dossier.printer > main {
  display: block;
}

.dossier.printer   h1 {
  margin-top: 0;
}

.dossier.printer   h2 {
  margin-top: 0;
}

.dossier.printer main {
  padding: 2rem 0rem;
}

.dossier.printer main  > * {
  max-width: 100rem;
  margin: auto;
}


article {
  min-height: 55rem;
  background-color: #FFF;
}

@media print {

  @page {
    margin: 1cm;
    size: landscape;
  }

  body * {
      color : #000;
      background-color: #FFF;
  }

  .drawer, .searchbar, .fab, .menu {
    display: none;
  }

  .container, .dossier, .dossier main {
    display: block;
  }

  .page .header {
    display: none;
  }

  .dossier header {
    background: #FFF;
    border-bottom: solid 2px #000;
  }

  h2 {
    margin-top: 0;
  }

  .mui-panel {
    border: 0;
    box-shadow: none;
  }

  article {
    break-after: always;
    page-break-after: always;
    background-color: #EEE;
  }

}
