.dossier {
  flex:1;
  display: flex;
  flex-direction: column;
}

.dossier header {
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  background-color : #1B1B1B;
}

.dossier header > h1 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.dossier header > h2 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.dossier main {
  padding: 2rem;
  flex:1;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
}

.checklist {
  display: flex;
  flex-direction: column;
}

.checklist > .line {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.shopwindow .fab {
  position: absolute;
  bottom: 12rem;
  right: 4rem;
}

.report {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.report .observations {
  flex:1
}

.report textarea {
  min-height: 20rem;
}

.line > label {
  flex:1.5;
}

.line > .field {
  min-width: 10rem;
}

.dossier.printer > main {
  display: block;
}

.dossier.printer   h1 {
  margin-top: 0;
}

.dossier.printer   h2 {
  margin-top: 0;
}

.dossier.printer main {
  padding: 2rem 8rem;
}

article {
  min-height: 55rem;
}
@media print {

  @page {
    margin: 1cm;
  }

  body * {
      color : #000;
      background-color: #FFF;
  }

  .drawer, .searchbar, .fab, .menu {
    display: none;
  }

  .container, .dossier, .dossier main {
    display: block;
  }

  .page .header {
    display: none;
  }

  .dossier header {
    background: #FFF;
    border-bottom: solid 2px #000;
  }

  h2 {
    margin-top: 0;
  }

  .mui-panel {
    border: 0;
    box-shadow: none;
  }

  article {
    break-after: always;
    page-break-after: always;
    background-color: #EEE;
  }

}
