html {
  font-size:52.5%;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #C6C6C6;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif !important;
  text-rendering: geometricPrecision;
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }
p { font-size: 1rem; }
small { font-size: 0.875rem; }

a { text-decoration:none; }
a:focus { text-decoration: none; }
a:hover { text-decoration:none; }

.flex { display: flex; }
.expand { flex:1; }
.centred { align-items: center; }
