@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
html {
  font-size:62.5%;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #C6C6C6;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-rendering: geometricPrecision;
}

h1 { font-size: 2.25rem; margin: 0.5rem 0;}
h2 { font-size: 1.75rem; margin: 0;}
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }
p { font-size: 1rem; }
small { font-size: 0.875rem; }

a { text-decoration:none; }
a:focus { text-decoration: none; }
a:hover { text-decoration:none; }

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 2rem;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.flex { display: flex; }
.expand { flex:1; }
.center { justify-content: center; }
.centred { align-items: center; }
.vertical {flex-direction: column;}
.right { justify-content: flex-end;}
.justified { justify-content: space-between; }

.negative-text {
  color: #FFF;
  background-color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 2rem;
  letter-spacing: 0.4rem;
}
